# Django Configuration
SECRET_KEY=UNA_CLAVE_SECRETA
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration
DB_ENGINE=django.db.backends.postgresql
DB_NAME=congress
DB_USER=postgres
DB_PASSWORD=Alberdez09
DB_HOST=localhost
DB_PORT=5432
