# Django Configuration
SECRET_KEY=UNA_CLAVE_SECRETA
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration
DB_ENGINE=django.db.backends.postgresql
DB_NAME=EL_NOMBRE_DE_TU_BASE_DE_DATOS
DB_USER=EL_USUARIO_DE_TU_BASE_DE_DATOS
DB_PASSWORD=LA_CONTRASEÑA_DE_TU_BASE_DE_DATOS
DB_HOST=localhost
DB_PORT=5432
