# Django Configuration
SECRET_KEY=UNA_CLAVE_SECRETA
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration
DB_ENGINE=django.db.backends.postgresql
DB_NAME=EL_NOMBRE_DE_TU_BASE_DE_DATOS
DB_USER=EL_USUARIO_DE_TU_BASE_DE_DATOS
DB_PASSWORD=LA_CONTRASEÑA_DE_TU_BASE_DE_DATOS
# validacion de estudiante
# se imprime el codigo a la consola por defecto
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
# supuesto correo desde donde se enviaría (se necesitaría configurar apikey y proveedor)
# DEFAULT_FROM_EMAIL=noreply@cienu2026.com

