@import "tailwindcss";

@plugin "daisyui";

/* Forzar el tema de DaisyUI con el color azul casi negro */
@theme {
  --color-primary: #001219;
  --color-secondary: #94d2bd;
  --color-alt: #0A9396;
  --color-accent: #e9d8a6;
  --color-neutral: #222222;
  --color-base-100: #fafafa;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
  --color-base-content: #222222;
  /* Colores de estado */
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #DC2626;
}

/* Configuración adicional de DaisyUI */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;
  --color-primary: #001219;
  --color-secondary: #94d2bd;
  --color-accent: #e9d8a6;
  --color-base-100: #fafafa;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
  --color-base-content: #222222;
  --color-neutral: #222222;
  --color-error: #DC2626;
}
